@tailwind base;
@tailwind components;
@tailwind utilities;


.icon-book::before {
  content: url('/icons/books.svg');
  display: inline-block;
  translate: 0px 3px;
}
.icon-pencil::before {
  content: url('/icons/pencil.svg');
  display: inline-block;
  translate: 0px 2px;
  margin-right: 5px ;
}

